.bg-container{
    background-color: #BDC3C7;
    height:auto;
    width: auto;
   
}
.navbarcolor{
    background-color: #2f2d6e;
}
.navbarimg{
    border-radius: 10px;
}
#h4{
    color:white;
    font-size: 20px;
}
#h1{
    color:white;
    font-size: 15px;
}
.bg-container2{
    background-color: #dd6ad7;
    height:12vh;
    width:auto;
    border-radius: 5px;

}
#bg-continer1{
    background-color: #282727;
   
}
.notification-heading{
    color: blue;
}
#bg-continer2{
    background-color:#7f8a82;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
#bg-continer3{
    background-color: #333635;
}
.button{
    background-color: white;
    height: auto;
    border-radius: 5px;
    border-style: solid;
    border-color: white;
    padding: 3px;
    margin: 2px;
    color: black;
}
.footer-section-bgcolor{
    background-color: #2a2b2b;
    color: white;
   
}
.footer-size{
    font-size: 25px;
    font-family:serif,Garamond;
    font-weight: normal;
    font-style: normal;
    padding-left: 5px;
    text-align: center;
}
.footer-size2{
    font-size: 50px;
    padding:10px;
}